<div class="panel panel-default">

    <br>
    <div class="col-xs-1">
        <button class="btn btn-primary" data-toggle="modal" data-target="#registroConsultarIntervenido"><i class="fa fa-search"></i>Consultar</button>
        <br><br>
        <button class="btn btn-primary" hidden="true" ng-click="downloadFiles()">
            <i class="fa fa-download"></i>
                Descargar
        </button>
        <br>
        <button data-toggle="modal" data-target="#showMessageUser" class="btn btn-primary" ng-click="testMessage()">
            Test Message</button>
        <br><br>
    </div>
    

    <br><br>
    <h2 align="center"><strong>Reporte Personalizado de  Intervenidos</strong></h2>
    <div class="col-xs-11">
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table  ng-table="tableParams" class="table table-bordered table-striped">
                    <tbody>
                    <tr ng-repeat="registro in $data">
                        <td align="center" data-title="'Nombre'" sortable="'name'">{{registro.name}}</td>
                        <td align="center" data-title="'Tipo Documento'" sortable="'document_type'">{{registro.document_type}}</td>
                        <td align="center" data-title="'Documento'" sortable="'document'">{{registro.document}}</td>
                        <td align="center" data-title="'Direcci&oacute;n'" sortable="'address'">{{registro.address}}</td>
                        <td align="center" data-title="'Tel&eacute;fono'" sortable="'phone'">{{registro.phone}}</td>
                        <td align="center" data-title="'Email'" sortable="'email'">{{registro.email}}</td>
                        <td align="center" data-title="'Escolaridad'" sortable="'pupilage'">{{registro.pupilage}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- init modal soft consult intervened -->
<div class="modal fade" id="registroConsultarIntervenido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reporte Personalizado Intervenido</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal col-lg-8 col-md-8 col-xs-10" role="form">
                    <div class="form-group">
                        <label>Seleccione una intervención</label>
                        <select class="form-control" ng-options="item.id as item.name for item in registroInterventions" ng-model="registroConsultarIntervenido.id"></select>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="customReport()">
                                Consultar
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- end modal soft consult intervened -->
<div ng-hide="loginAlertMessage" class="modal fade" id="showMessageUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelShowMessageUser">Reporte Personalizado Intervenido</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>