<div class="panel panel-default">
    <br><br>
    <button class="btn btn-primary" hidden="true" ng-click="downloadFiles()">
        <i class="fa fa-download"></i>
        Descargar
    </button>
    <br><br>
    <h2 align="center"><strong>Reporte Intervenciones</strong></h2>
    <div class="col-xs-11">
        <loading></loading>
        <h3>B&uacute;squeda: <input class="form-control" type="text" ng-model="filter.$" /></h3>
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table   ng-table="tableParams" class="table table-bordered table-striped">
                    <tbody>
                    <tr ng-repeat="registro in $data">
                        <td align="center" data-title="'Entidad'" sortable="'entity.name'">{{registro.entity.name}}</td>
                        <td align="center" data-title="'Municipio'" sortable="'municipality.name'">{{registro.municipality.name}}</td>
                        <td align="center" data-title="'Nombre'" sortable="'name'">{{registro.name}}</td>
                        <td align="center" data-title="'Inicio'" sortable="'start_date'">{{registro.start_date}}</td>
                        <td align="center" data-title="'Fin'" sortable="'end_date'">{{registro.end_date}}</td>
                        <td align="center" data-title="'Descripción'" sortable="'description'">{{registro.description}}</td>
                        <td align="center" data-title="'Evidencias Planeadas'" sortable="'evidencias_planeadas'">{{registro.evidencias_planeadas}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>